<nav class="navbar sticky-top bg-inverse" style="background-color: lightblue">
  <div class="nav-item active">
    <a class="nav-link" href="/home">Home</a>
  </div>
  <div class="nav-item active" *ngIf="!authService.isLoggedIn()">
    <a class="nav-link" href="/login"><i class="fa fa-user"></i>Login</a>
  </div>

  <div *ngIf="authService.isLoggedIn()">
    Users from secure api end point:
    <ul>
      <li *ngFor="let user of users">
        {{ user.firstName }} {{ user.lastName }}
      </li>
    </ul>
  </div>
  <p><a class="nav-link" href="/login">Logout</a></p>
</nav>
